.padre1 {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 2% 2% 2% 2%;
    margin: 1rem;
    opacity: 0.7;
    height: 60%;
    width: 40%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .padre2 {
    background-color: #fafafa;
    border: 1px solid #ccc;
    padding: 2% 2% 2% 2%;
    margin: 1rem;
    opacity: 0.7;
    height: 35%;
    width: 35%;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
.botones{
    text-align: center;
  }

